.App {
	background-color: #10131f;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.header-container {
	display: flex;
	justify-content: space-between;
	background-color: #22223b;
}
.value {
	color: #b2b1b9;
	padding-left: 5px;
	padding-right: 20px;
}

.collection-name {
	text-align: center;
	color: white;
	vertical-align: middle;
	padding-left: 50px;
}

.collection-details {
	display: flex;
	color: white;
	background-color: #22223b;
	padding-left: 50px;
}

.button-group {
	margin-left: auto;
}
