.header-container {
	display: flex;
	justify-content: space-between;
	border: 1px solid blue;
}

.collection-name {
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
}

.collection-details {
	display: flex;
	border: 1px solid green;
}
